<div class="row">
  <!-- row -->
  <div class="col-lg-12">
    <!-- column -->
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> SLA ITEM PARAMETERS TABLE
      </div>
      <div class="card-body">
        <!-- table -->
        <table class="table table-bordered table-striped table-sm">
          <thead>
          <tr>
            <th colspan="3">Time</th>
            <th colspan="2">Manday</th>
            <th colspan="3">Travel</th>
            <th colspan="2">Ticket</th>
            <th colspan="2">Fix Costs</th>
          </tr>
          </thead>
          <thead>
          <tr>
            <th>Year</th>
            <th>Valid From</th>
            <th>Valid To</th>
            <th>Manday Typ</th>
            <th>Manday Rate</th>
            <th>Travel Typ</th>
            <th>Travel Day Typ</th>
            <th>Travel Rate</th>
            <th>Ticket Typ</th>
            <th>Ticket Rate</th>
            <th>Fix Costs Typ</th>
            <th>Fix Costs Rate</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>0000</td>
            <td>00/00/0000</td>
            <td>00/00/0000</td>
            <td>Manday Typ 1</td>
            <td>Manday Rate 1</td>
            <td>Travel Typ 1</td>
            <td>Travel Day Typ 1</td>
            <td>Travel Rate 1</td>
            <td>Ticket Typ 1</td>
            <td>Ticket Rate 1</td>
            <td>Fix Costs Typ 1</td>
            <td>Fix Costs Rate 1</td>
          </tr>
          <tr>
            <td>0000</td>
            <td>00/00/0000</td>
            <td>00/00/0000</td>
            <td>Manday Typ 2</td>
            <td>Manday Rate 2</td>
            <td>Travel Typ 2</td>
            <td>Travel Day Typ 2</td>
            <td>Travel Rate 2</td>
            <td>Ticket Typ 2</td>
            <td>Ticket Rate 2</td>
            <td>Fix Costs Typ 2</td>
            <td>Fix Costs Rate 2</td>
          </tr>
          </tbody>
        </table>
        <!-- table -->

        <!-- buttons -->
        <div class="col">
          <div class="row d-flex justify-content-end">
            <div class="col-6 col-sm-4 col-md-2 mb-3 mb-xl-0">
              <button type="button" class="btn btn-block btn-primary">UPDATE</button>
            </div>
            <div class="col-6 col-sm-4 col-md-2 mb-3 mb-xl-0">
              <button type="button" class="btn btn-block btn-danger">DELETE</button>
            </div>
            </div>
          </div>
        <!-- buttons -->
      </div>
      <!-- pagination -->
      <div class="card-footer">
        <div class="col offset-7">
          <div class="row">
            <div class="col-xs-12 col-12 d-sm-down-none">
              <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pagination>
            </div>
          </div>
        </div>
      </div>
      <!-- pagination -->
    </div>
    <!-- column -->

    <!--Input!-->
    <div>
      <div class="card">
        <div class="card-header">
          <strong>Add New SLA Item Parameter</strong>
        </div>

        <div class="card-body col-12">

          <form action="" method="post" class="form-horizontal">
            <div class=" col-12" style="text-align: center">
              <div>
                <fieldset class="form-group">

                  <div class="form-group row">
                    <div class="col-md-6 col-lg-12">
                      <label><b>Year</b></label>
                      <div class="row">
                        <div class="col-md-6 col-lg-6">
                          <select class="form-control" id="ccyear">
                            <option>2014</option>
                            <option>2015</option>
                            <option>2016</option>
                            <option>2017</option>
                            <option>2018</option>
                            <option>2019</option>
                            <option>2020</option>
                            <option>2021</option>
                            <option>2022</option>
                            <option>2023</option>
                            <option>2024</option>
                            <option>2025</option>
                          </select>
                        </div>
                        <!-- date picker -->
                        <div class="col-xs-12 col-12 col-md-6">
                          <input type="text" ngbDatepicker #d="ngbDatepicker"/>
                          <button (click)="d.toggle()">Toggle</button>

                        </div>
                        <!-- date picker -->
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-12">
                      <label><b>Manday</b></label>
                      <div class="row">
                        <div class="col-md-6 col-lg-6">
                          <ng-select
                            class="bootstrap"
                            placeholder="Pick Manday Typ"
                            [allowClear]="false"></ng-select>
                        </div>
                        <div class="col-md-6 col-lg-6">
                          <ng-select
                            class="bootstrap"
                            placeholder="Pick Manday Rate"
                            [allowClear]="false"></ng-select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-12"> <!-- class="col-md-2 col-lg-1" -->
                      <label><b>Travel</b></label>
                      <div class="row">
                        <div class="col-md-6 col-lg-4">
                          <ng-select
                          class="bootstrap"
                          placeholder="Pick Travel Typ"
                          [allowClear]="false"></ng-select>
                        </div>
                        <div class="col-md-6 col-lg-4">
                          <ng-select
                          class="bootstrap"
                          placeholder="Pick Travel Day Typ"
                          [allowClear]="false"></ng-select>
                        </div>
                        <div class="col-md-6 col-lg-4">
                          <ng-select
                          class="bootstrap"
                          placeholder="Pick Travel Rate"
                          [allowClear]="false"></ng-select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-12"> <!-- class="col-md-2 col-lg-1" -->
                      <label><b>Ticket</b></label>
                      <div class="row">
                        <div class="col-md-6 col-lg-6">
                          <ng-select
                            class="bootstrap"
                            placeholder="Pick Ticket Typ"
                            [allowClear]="false"></ng-select>
                        </div>
                        <div class="col-md-6 col-lg-6">
                          <ng-select
                            class="bootstrap"
                            placeholder="Pick Ticket Rate"
                            [allowClear]="false"></ng-select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-12"> <!-- class="col-md-2 col-lg-1" -->
                      <label><b>Fix Costs</b></label>
                      <div class="row">
                        <div class="col-md-6 col-lg-6">
                          <ng-select
                          class="bootstrap"
                          placeholder="Pick Fix Costs Typ"
                          [allowClear]="false"></ng-select>
                        </div>
                        <div class="col-md-6 col-lg-6">
                          <ng-select
                            class="bootstrap"
                            placeholder="Pick Fix Costs Rate"
                            [allowClear]="false"></ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </form>

          <div class="col">
            <div class="row d-flex justify-content-end">
              <div class="col-6 col-sm-4 col-md-2 mb-3 mb-xl-0">
                <button type="button" class="btn btn-block btn-success">ADD/SAVE</button>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
    <!--/Input!-->
  </div>
  <!-- row -->

  <!--


          <div class="row">
            <div class="col-xs-12 col-12 col-md-6 form-group">
              <input type="text"
                     class="form-control"
                     [minDate]="minDate"
                     [maxDate]="maxDate"
                     #dp="bsDatepicker"
                     bsDatepicker [(bsValue)]="bsValue">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-12 col-md-6 form-group">
              <input class="form-control" #drp="bsDaterangepicker" bsDaterangepicker [(ngModel)]="bsRangeValue">
            </div>
          </div>

        -->
</div>
