.form-group.hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

.card-footer {
  background-color: white;
  border-left: none;
  border-right: none;
  border-top: none;
}
td {
  text-align: center;
  vertical-align: middle;
}
tr {
  text-align: center;
  vertical-align: middle;
}
th {
  text-align: center;
  vertical-align: middle !important;
}
table {
  text-align: center;
}
.table tr.active td{
  background-color: #999999 ;
  color: black;
}
