<div class="animated fadeIn">
  <div class="row">
    <!-- row -->
    <div class="col-lg-12">
      <!-- column -->

      <tabset>
        <tab heading="SLA Item Parameter: MANDAY">
          <app-sla-manday></app-sla-manday>
        </tab>
        <tab heading="SLA Item Parameter: TRAVEL">
          <app-sla-travel></app-sla-travel>
        </tab>
        <tab heading="SLA Item Parameter: TICKET">
          <app-sla-ticket></app-sla-ticket>
        </tab>
        <tab heading="SLA Item Parameter: FIX COSTS">
          <app-sla-fix-costs></app-sla-fix-costs>
        </tab>
      </tabset>
      <!-- column -->

    </div>
    <!-- row -->

  </div>
</div>
