<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <!--/.col-->
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
            <tr>
              <th>Travel Typ</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Regional</td>
            </tr>
            <tr>
              <td>Domestic</td>
            </tr>
            <tr>
              <td>Overseas</td>
            </tr>
            </tbody>
          </table>
          <button type="button" class="btn btn-block btn-success">ADD</button>
          <button type="button" class="btn btn-block btn-warning">UPDATE</button>
          <button type="button" class="btn btn-block btn-danger">DELETE</button>
        </div>
      </div>
    </div>
  </div>

  <!--/.col-->
  <div class="row">
    <!--/.col-->
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Travel Table
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
            <tr>
              <th>Travel Day Typ</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Regional</td>
            </tr>
            <tr>
              <td>Domestic</td>
            </tr>
            <tr>
              <td>Overseas</td>
            </tr>
            </tbody>
          </table>
          <button type="button" class="btn btn-block btn-success">Add</button>
          <button type="button" class="btn btn-block btn-warning">Update</button>
          <button type="button" class="btn btn-block btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>

</div>
