
<div class="animated fadeIn">

  <div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> <strong> Department Travel Rate Table</strong>
    </div>

    <div class="card-body">

      <perfect-scrollbar style="max-height: 750px">
        <table class="table table-bordered table-striped table-sm">
          <thead>
          <tr>
            <th *ngFor="let header of headers">{{header}}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of items; let i = index" (click)="setClickedRow(i)" [class.active]="i == selectedRow">
            <td>{{row.year}}</td>
            <td>{{row.validFrom | date: 'yyyy/MM/dd'}}</td>
            <td>{{row.validTo | date: 'yyyy/MM/dd'}}</td>
            <td>{{row.rate }}</td>
          </tr>
          </tbody>
        </table>
      </perfect-scrollbar>
      </div>


    <div class="p-4" style="float: left">
      <button class="btn btn-success" (click)="addNewDTR()">ADD</button>
      <button class="btn btn-primary" [disabled]="selectedRow === -1" (click)="updateDTR()">UPDATE</button>
      <button class="btn btn-danger" [disabled]="selectedRow === -1"(click)="deleteDTR()" >DELETE</button>
      <span style="float: right">
            <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" name="page" [maxSize]="maxSize" [itemsPerPage]="itemPerPage"></pagination>
          </span>
    </div>
  </div>
</div>


<div class="fadeIn card" [hidden]="!showField">
  <div class="card-header">
    Add/Edit Department Travel Rate
  </div>
  <div class="card-body">

    <form>

      <div class="row">
        <div class="col-md-3">
          <label for="year">Year</label>
          <ng-select id="year" [(ngModel)]="newDTR.year" placeholder="Year" class="bootstrap" [options]="year">
          </ng-select>
        </div>

        <div class="col-md-3">
          <label for="validFrom">Valid From</label>
          <div class="input-group">
            <input id="validFrom" name="validFrom" class="form-control" placeholder="yyyy-mm-dd"
                   name="dp1" [(ngModel)]="ngbValidFrom" ngbDatepicker #d1="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button"><i class="fa fa-calendar"></i></button>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <label for="validTo">Valid To</label>
          <div class="input-group">
            <input id="validTo" name="validTo" class="form-control" placeholder="yyyy-mm-dd"
                   name="dp2" [(ngModel)]="ngbValidTo" ngbDatepicker #d2="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"><i class="fa fa-calendar"></i></button>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <label for="numericRate">Rate</label>
          <input id="numericRate" class="form-control" name="rate" [(ngModel)]="newDTR.rate" type="number" placeholder="Numeric Rate">
        </div>
      </div>
    </form>

    <div class="col">
      <div class="row d-flex justify-content-end">
        <div class="my-auto pt-3 ml-2 mr-md-5 mr-sm-3">
          <button class="btn btn-success px-5" (click)="save()">SAVE</button>
        </div>
      </div>
    </div>

  </div>

</div>
