<div class="fadeIn">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-11">
          <div>
            <strong style="text-align: left">Actual SLA Volume</strong>
          </div>
        </div>
        <div class="col-1">
          <div class="d-flex" style="justify-content: flex-end">
            <label>
            <i class="fa fa-upload icon-large" aria-hidden="true" style="padding-top: 3px" title="Upload data from Excel"></i>
            <input type="file" hidden="hidden">
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-12">
          <perfect-scrollbar style="max-height: 750px">
            <table class="table table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th *ngFor="let header of tableHeaders;">{{header}}</th>
                </tr>
              </thead>
              <tbody>
                <tr class="hoverable" *ngFor="let row of tableData; let i = index" (click)="onTableRowClick(i)" [class.active] = "selectedRowNumber == i">
                  <td *ngFor="let data of row">{{data}}</td>
                </tr>
              </tbody>
            </table>
          </perfect-scrollbar>
        </div>
      </div>
    </div>
    <div class="card-footer" style="float: left">
      <button class="btn btn-success" (click)="openAddCard()">Add</button>
      <button class="btn btn-primary" (click)="openEditCard()">Edit</button>
      <button class="btn btn-danger">Delete</button>
      <span style="float: right">
        <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize" [itemsPerPage]="itemPerPage"></pagination>
      </span>
    </div>
  </div>
  <div *ngIf="showInputField" class="card">
    <div class="card-header">
      <strong>Input</strong>
    </div>

    <div class="card-body col-12">
      <form action="" method="post" class="form-horizontal">
        <div style="text-align: center;">
          <div>
            <fieldset id="SLAPicker" class="form-group" style="margin-bottom: 0px">

              <div class="form-group row" style="margin-top: 30px; padding-left: 10px; padding-right: 10px">
                <perfect-scrollbar>
                  <table class="table table-sm">
                    <thead style="border: hidden">
                    <tr>
                      <th style="min-width: 110px" *ngFor="let header of tableHeaders">{{header}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td *ngFor="let _ of tableHeaders; let columnNumber = index">
                        <label style="text-align: center">
                          <input type="text" class="form-control" [title]="getPlaceHolderForInputFields(columnNumber)" [placeholder]="getPlaceHolderForInputFields(columnNumber)" [disabled]="isInputDisabled(columnNumber)" [defaultValue]="tableData[selectedRowNumber][columnNumber]">
                        </label>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </perfect-scrollbar>
              </div>
            </fieldset>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer" style="padding-top: 0; padding-bottom: 28px; text-align: right">
      <button type="submit" class="btn btn-sm btn-primary" (click)="submit()">Submit</button>
    </div>
  </div>
</div>
