<div class="animated fadeIn">
  <div class="row">
    <!-- row -->
    <div class="col-lg-12">
      <!-- column -->
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Travel Day Typ
        </div>

        <div class="card-body">
          <!-- table -->
          <perfect-scrollbar style="max-height: 750px">
            <table class="table table-bordered table-striped table-sm">
              <tbody>
              <tr *ngFor="let row of data; let i = index" (click)="onTableRowClick(i)" [class.active]="i == selectedRowNumber">
                <td>{{row.traveltable}}</td>
              </tr>
              </tbody>
            </table>
          </perfect-scrollbar>
          <!-- table -->
        </div>

        <div class="card-footer" style="float: left">
          <button class="btn btn-success" (click)="ShowHideAdd()">ADD</button>
          <button class="btn btn-primary" [disabled]="!validSelectedRowNumber" (click)="ShowHideUpdate()">UPDATE</button>
          <button class="btn btn-danger" [disabled]="!validSelectedRowNumber">DELETE</button>
          <span style="float: right">
            <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize" [itemsPerPage]="itemPerPage"></pagination>
          </span>
        </div>
      </div>
      <!-- column -->

      <!--add-->
      <div>
        <div class="card" *ngIf="showAdd">
          <div class="card-header">
            <strong>Add New Travel Day Typ</strong>
          </div>

          <div class="card-body col-12">

            <form action="" method="post" class="form-horizontal">
              <div class="col-12" style="text-align: center">
                <div>
                  <fieldset class="form-group">

                    <div class="form-group row">
                      <div class="col-md-6 col-lg-12 mb-5">
                        <div class="d-flex ml-0">
                          <label><b>Travel Day Typ</b></label>
                        </div>
                        <div class="row">
                          <div class="col-md-6 col-lg-6">
                            <div class="d-flex ml-0">
                              <label>
                                <input class="form-control" type="text" required placeholder="Please enter a Travel Day Typ">
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
            </form>

            <div class="col">
              <div class="row d-flex justify-content-end">
                <div class="col-6 col-sm-4 col-md-2 mb-3 mb-xl-0">
                  <button type="button" class="btn btn-success" (click)="ShowHideAdd()">SAVE</button>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
      <!--add-->

      <!--update-->
      <div>
        <div class="card" *ngIf="showUpdate">
          <div class="card-header">
            <strong>Update Travel Day Typ</strong>
          </div>

          <div class="card-body col-12">

            <form action="" method="post" class="form-horizontal">
              <div class="col-12" style="text-align: center">
                <div>
                  <fieldset class="form-group">

                    <div class="form-group row">
                      <div class="col-md-6 col-lg-12 mb-5">
                        <div class="d-flex ml-0">
                          <label><b>Travel Day Typ</b></label>
                        </div>
                        <div class="row">
                          <div class="col-md-6 col-lg-6">
                            <ng-select class="bootstrap"
                                       [placeholder]="data[selectedRowNumber].traveltable"
                                       [options]="TravelTable"
                                       [allowClear]="false"></ng-select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
            </form>

            <div class="col">
              <div class="row d-flex justify-content-end">
                <div class="col-6 col-sm-4 col-md-2 mb-3 mb-xl-0">
                  <button type="button" class="btn btn-primary" (click)="ShowHideUpdate(); SetSelectedRow()">UPDATE</button>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
      <!--update-->

    </div>
    <!-- row -->

  </div>
</div>
