<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <!--/.col-->
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Cost Center Typ Table
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
            <tr>
              <th>Cost Center Typ</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Cost Center Typ 1</td>
            </tr>
            <tr>
              <td>Cost Center Typ 2</td>
            </tr>
            <tr>
              <td>Cost Center Typ 3</td>
            </tr>
            </tbody>
          </table>
          <button type="button" class="btn btn-block btn-success">Add</button>
          <button type="button" class="btn btn-block btn-warning">Update</button>
          <button type="button" class="btn btn-block btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
