<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 mb-4">
      <!-- Nav tabs -->
      <tabset>
        <tab heading="Fix Cost Rate">
          <app-fix-cost-rate></app-fix-cost-rate>
        </tab>
        <tab heading="Manday Rate">
          <app-manday-rate></app-manday-rate>
        </tab>
        <tab heading="Ticket Rate">
          <app-ticket-rate></app-ticket-rate>
        </tab>
        <tab heading="Travel Rate">
          <app-rate-table></app-rate-table>
        </tab>
      </tabset>
    </div><!--/.col-->
  </div><!--/.row-->

</div>
