<p>eur-tl-macro-assumption works!</p>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Euro/TL Assumption Rate Table
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
            <tr>
              <th>Planning Period</th>
              <th>EUR/TL Rate</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <label>
                  <select>
                    <option>EA1</option>
                    <option>EA2</option>
                  </select>
                </label>
              </td>
              <td>
                <label>
                  <select>
                    <option>EUR</option>
                    <option>TL</option>
                  </select>
                </label>
              </td>
            </tr>
            <tr>
              <td>
                <label>
                  <select>
                    <option>EA1</option>
                    <option>EA2</option>
                  </select>
                </label>
              </td>
              <td>
                <label>
                  <select>
                    <option>EUR</option>
                    <option>TL</option>
                  </select>
                </label>
              </td>
            </tr>
            <tr>
              <td>
                <label>
                  <select>
                    <option>EA1</option>
                    <option>EA2</option>
                  </select>
                </label>
              </td>
              <td>
                <label>
                  <select>
                    <option>EUR</option>
                    <option>TL</option>
                  </select>
                </label>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>



