<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i><strong> Euro/TL Assumption Rate Table</strong>
        </div>
        <div class="card-body">

          <perfect-scrollbar style="max-height: 750px">
            <table class="table table-bordered table-striped table-sm">
              <thead>
              <tr>
                <th *ngFor="let Header of RightTableHeaders">{{Header}}</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let row of data; let i = index" (click)="onTableRowClick(i)" [class.active]="i == selectedRowNumber">
                <td>{{row.PlanningP}}</td>
                <td>{{row.Rate}}</td>
              </tr>
              </tbody>
            </table>
          </perfect-scrollbar>


        </div>

        <div class="card-footer" style="float: left">
          <button class="btn btn-success"  (click)="ShowHideAdd()">ADD NEW</button>
          <button class="btn btn-primary" [disabled]="!validSelectedRowNumber" (click)="ShowHideUpdate()">UPDATE</button>
          <button class="btn btn-danger" [disabled]="!validSelectedRowNumber" >DELETE</button>
          <span style="float: right">
            <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize" [itemsPerPage]="itemPerPage"></pagination>
          </span>
        </div>

      </div>

      <div class="card" *ngIf="showAdd">
        <div class="card-header">
          <strong>Add new Euro/TL Macro Assumption Rate</strong>
        </div>
        <div class="card-body">
          <div class="row align-items-center">
            <div class="card-body col-6">
              <fieldset class="form-group">
                <label> Planning Period</label>
                <ng-select
                  class="bootstrap"
                  placeholder="Planning Period"
                  [options]="PlanningPeriods"
                  [allowClear]="true"></ng-select>
              </fieldset>
            </div>
            <div class="card-body col-6">
              <fieldset class="form-group">
                <label> Value</label><br>
                <label>
                  <input class="form-control" type="number" required placeholder="Please enter a Value">
                </label>
              </fieldset>
            </div>
          </div>

          <div class="col">
            <div class="row d-flex justify-content-end">
              <div class="col-6 col-sm-4 col-md-2 mb-3 mb-xl-0">
                <button type="button" class="btn btn-block btn-success" (click)="ShowHideAdd()">SAVE</button>
              </div>
            </div>
          </div>
        </div>

      </div>


      <div class="card" *ngIf="showUpdate">
        <div class="card-header">
          <strong>Update Euro/TL Macro Assumption Rate</strong>
        </div>
        <div class="card-body">
          <div class="row align-items-center">
            <div class="card-body col-6">
              <fieldset class="form-group">
                <label> Planning Period</label>
                <ng-select
                  class="bootstrap"
                  [(ngModel)]="data[selectedRowNumber].PlanningP"
                  [placeholder]="data[selectedRowNumber].PlanningP"
                  [options]="PlanningPeriods"
                  [allowClear]="true"></ng-select>
              </fieldset>
            </div>
            <div class="card-body col-6">
              <fieldset class="form-group">
                <label> Value</label><br>
                <label>
                  <input class="form-control" type="number" [defaultValue]="data[selectedRowNumber].Rate">
                </label>
              </fieldset>
            </div>
          </div>

          <div class="col">
            <div class="row d-flex justify-content-end">
              <div class="col-6 col-sm-4 col-md-2 mb-3 mb-xl-0">
                <button type="button" class="btn btn-block btn-primary" (click)="ShowHideUpdate()">SAVE</button>
              </div>
            </div>
          </div>
        </div>

      </div>


    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>



