.table tr.active td{
  background-color: #999999 ;
  color: black;
}

tbody tr.hoverable:hover{
  background-color: #cccccc;
}

.card-footer {
  background-color: white;
  border-left: none;
  border-right: none;
  border-top: none;
}
