<div class="animated fadeIn">
  <div class="row">
    <!-- row -->
    <div class="col-lg-12">
      <!-- column -->
      <div class="card">
        <div class="card-body">

          <!-- table -->
          <perfect-scrollbar style="max-height: 750px">
            <table class="table table-bordered table-striped table-sm">
              <thead>
              <tr>
                <th *ngFor="let Header of tableSubHeaders">{{Header}}</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let row of data; let i = index" (click)="onTableRowClick(i)" [class.active]="i == selectedRowNumber">
                <td>{{row.Year}}</td>
                <td>{{row.ValidFrom}}</td>
                <td>{{row.ValidTo}}</td>
                <td>{{row.TravelTyp}}</td>
                <td>{{row.TravelDayTyp}}</td>
                <td>{{row.TravelRate}}</td>
              </tr>
              </tbody>
            </table>
          </perfect-scrollbar>
          <!-- table -->

        </div>

        <div class="card-footer" style="float: left">
          <button class="btn btn-success" (click)="showAddCard()">ADD</button>
          <button class="btn btn-primary" [disabled]="!validSelectedRowNumber" (click)="showUpdateCard()">UPDATE</button>
          <button class="btn btn-danger" [disabled]="!validSelectedRowNumber" (click)="SetSelectedRow()">DELETE</button>
          <span style="float: right">
            <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize" [itemsPerPage]="itemPerPage"></pagination>
          </span>
        </div>

      </div>
      <!-- column -->

      <!--add-->
      <div>
        <div class="card" *ngIf="showAdd">
          <div class="card-header">
            <strong>Add New Travel Parameter</strong>
          </div>

          <div class="card-body col-12">

            <form action="" method="post" class="form-horizontal">
              <div class="col-12" style="text-align: center">
                <div>
                  <fieldset class="form-group">

                    <div class="form-group row">
                      <div class="col-md-6 col-lg-12 mb-5">
                        <div class="d-flex ml-0">
                          <label><b>Year</b></label>
                        </div>
                        <div class="row">
                          <div class="col-md-6 col-lg-6">
                            <div class="d-flex ml-0">
                              <label>Year</label>
                            </div>
                            <ng-select class="bootstrap"
                                       placeholder="Pick Year"
                                       [options]="year"
                                       [allowClear]="false"></ng-select>
                          </div>
                          <!-- date picker -->
                          <div class="col-md-3">
                            <div class="d-flex ml-0">
                              <label for="validFrom">Valid From</label>
                            </div>
                            <div class="input-group">
                              <input id="validFrom" name="validFrom" class="form-control" placeholder="yyyy-mm-dd"
                                     name="dp1" [(ngModel)]="fromDate" ngbDatepicker #d1="ngbDatepicker">
                              <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-3">
                            <div class="d-flex ml-0">
                              <label for="validTo">Valid To</label>
                            </div>
                            <div class="input-group">
                              <input id="validTo" name="validTo" class="form-control" placeholder="yyyy-mm-dd"
                                     name="dp2" [(ngModel)]="toDate" ngbDatepicker #d2="ngbDatepicker">
                              <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                              </div>
                            </div>
                          </div>
                          <!-- date picker -->
                        </div>
                      </div>
                      <hr style="width:100%" class="ml-0 mr-0">
                      <div class="col-md-6 col-lg-12 mb-5">
                        <div class="d-flex ml-0">
                          <label><b>Travel</b></label>
                        </div>
                        <div class="row">
                          <div class="col-md-6 col-lg-4">
                            <div class="d-flex ml-0">
                              <label>Travel Typ</label>
                            </div>
                            <ng-select
                              class="bootstrap"
                              placeholder="Pick Travel Typ"
                              name="travelTypPicker"
                              [options]="travelTyp"
                              [allowClear]="false"></ng-select>
                          </div>
                          <div class="col-md-6 col-lg-4">
                            <div class="d-flex ml-0">
                              <label>Travel Day Typ</label>
                            </div>
                            <ng-select
                              class="bootstrap"
                              placeholder="Pick Travel Day Typ"
                              name="travelDayTypPicker"
                              [options]="travelDayTyp"
                              [allowClear]="false"></ng-select>
                          </div>
                          <div class="col-md-6 col-lg-4">
                            <div class="d-flex ml-0">
                              <label>Travel Rate</label>
                            </div>
                            <ng-select
                              class="bootstrap"
                              placeholder="Pick Travel Rate"
                              name="travelRatePicker"
                              [options]="travelRate"
                              [allowClear]="false"></ng-select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
            </form>

            <div class="col">
              <div class="row d-flex justify-content-end">
                <div class="col-6 col-sm-4 col-md-2 mb-3 mb-xl-0">
                  <button type="button" class="btn btn-block btn-success" (click)="saveAdd()">SAVE</button>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
      <!--add-->

      <!--update-->
      <div>
        <div class="card" *ngIf="showUpdate">
          <div class="card-header">
            <strong>Update Travel Parameter</strong>
          </div>

          <div class="card-body col-12">

            <form action="" method="post" class="form-horizontal">
              <div class="col-12" style="text-align: center">
                <div>
                  <fieldset class="form-group">

                    <div class="form-group row">
                      <div class="col-md-6 col-lg-12 mb-5">
                        <div class="d-flex ml-0">
                          <label><b>Year</b></label>
                        </div>
                        <div class="row">
                          <div class="col-md-6 col-lg-6">
                            <div class="d-flex ml-0">
                              <label>Year</label>
                            </div>
                            <ng-select class="bootstrap"
                                       [placeholder]="data[selectedRowNumber].Year"
                                       [options]="year"
                                       [allowClear]="false"></ng-select>
                          </div>
                          <!-- date picker -->
                          <div class="col-md-3">
                            <div class="d-flex ml-0">
                              <label for="validFrom">Valid From</label>
                            </div>
                            <div class="input-group">
                              <input name="validFrom" class="form-control" [placeholder]="data[selectedRowNumber].ValidFrom"
                                     name="dp1" [(ngModel)]="data[selectedRowNumber].ValidFrom" ngbDatepicker #d1="ngbDatepicker">
                              <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-3">
                            <div class="d-flex ml-0">
                              <label for="validTo">Valid To</label>
                            </div>
                            <div class="input-group">
                              <input name="validTo" class="form-control" [placeholder]="data[selectedRowNumber].ValidTo"
                                     name="dp2" [(ngModel)]="data[selectedRowNumber].ValidTo" ngbDatepicker #d2="ngbDatepicker">
                              <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                              </div>
                            </div>
                          </div>
                          <!-- date picker -->
                        </div>
                      </div>
                      <hr style="width:100%;" class="ml-0 mr-0">
                      <div class="col-md-6 col-lg-12 mb-5">
                        <div class="d-flex ml-0">
                          <label><b>Travel</b></label>
                        </div>
                        <div class="row">
                          <div class="col-md-6 col-lg-4">
                            <div class="d-flex ml-0">
                              <label>Travel Typ</label>
                            </div>
                            <ng-select
                              class="bootstrap"
                              name="travelTypPicker"
                              [(ngModel)]="data[selectedRowNumber].TravelTyp"
                              [placeholder]="data[selectedRowNumber].TravelTyp"
                              [options]="travelTyp"
                              [allowClear]="false"></ng-select>
                          </div>
                          <div class="col-md-6 col-lg-4">
                            <div class="d-flex ml-0">
                              <label>Travel Day Typ</label>
                            </div>
                            <ng-select
                              class="bootstrap"
                              name="travelDayTypPicker"
                              [(ngModel)]="data[selectedRowNumber].TravelDay"
                              [placeholder]="data[selectedRowNumber].TravelDayTyp"
                              [options]="travelDayTyp"
                              [allowClear]="false"></ng-select>
                          </div>
                          <div class="col-md-6 col-lg-4">
                            <div class="d-flex ml-0">
                              <label>Travel Rate</label>
                            </div>
                            <ng-select
                              class="bootstrap"
                              name="travelRatePicker"
                              [(ngModel)]="data[selectedRowNumber].TravelRate"
                              [placeholder]="data[selectedRowNumber].TravelRate"
                              [options]="travelRate"
                              [allowClear]="false"></ng-select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
            </form>

            <div class="col">
              <div class="row d-flex justify-content-end">
                <div class="col-6 col-sm-4 col-md-2 mb-3 mb-xl-0">
                  <button type="button" class="btn btn-block btn-primary" (click)="saveUpdate(); SetSelectedRow()">SAVE</button>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
      <!--update-->

    </div>
    <!-- row -->

  </div>
</div>
