<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">

      <div class="card">

        <div class="card-header">
          <i class="fa fa-align-justify"></i> Cost Center Table
        </div>

        <div class="card-body">

          <table class="table table-bordered table-striped table-sm table-hover">
            <thead>
            <tr>
              <th>Cost Center ID</th>
              <th>Cost Center Name</th>
              <th>Cost Center Typ</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let costcenterID of costcenters; let i = index" (click)="setClickedRow(i)" [class.active]="i==selectedRow">
              <td>{{costcenterID.costcenterID}}</td>
              <td>{{costcenterID.costcentername}}</td>
              <td>{{costcenterID.costcentertyp}}</td>
            </tr>
            <!--
            <tr>
              <td>Cost Center ID 2</td>
              <td>Cost Center Name 2</td>
              <td>Cost Center Typ 1</td>
            </tr>
            <tr>
              <td>Cost Center ID 3</td>
              <td>Cost Center Name 3</td>
              <td>Cost Center Typ 2</td>
            </tr> -->
            </tbody>
          </table>

          <div class="col">
            <div class="row d-flex justify-content-end">
              <div class="col-6 col-sm-4 col-md-2 mb-3 mb-xl-0">
                <button (click)="ShowHide()" type="button" class="btn btn-block btn-success">ADD NEW</button>
              </div>
              <div class="col-6 col-sm-4 col-md-2 mb-3 mb-xl-0">
                <button type="button" class="btn btn-block btn-primary">EDIT</button>
              </div>
              <div class="col-6 col-sm-4 col-md-2 mb-3 mb-xl-0">
                <button type="button" class="btn btn-block btn-danger">DELETE</button>
              </div>
            </div>
          </div>

        </div>

        <!--pagination-->
        <div class="col">
          <div class="d-flex justify-content-end">
            <div class="row">
              <div class="col-xs-12 col-12 d-sm-down-none">
                <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pagination>
              </div>
            </div>
          </div>
        </div>
        <!--pagination-->

      </div>

      <!--Input!-->
      <div>
        <div class="card" *ngIf="show">
          <div class="card-header">
            <strong>Add New Cost Center Parameter</strong>
          </div>

          <div class="card-body col-12">

            <form action="" method="post" class="form-horizontal">
              <div class=" col-12" style="text-align: center">
                <div>
                  <fieldset class="form-group">

                    <div class="form-group row">
                      <div class="col-md-6 col-lg-4"> <!-- class="col-md-2 col-lg-1" -->
                        <label>Cost Center ID</label>
                        <input type="text" class="form-control" placeholder="Enter Cost Center ID">
                      </div>
                      <div class="col-md-6 col-lg-4">
                        <label>Cost Center Name</label>
                        <input type="text" class="form-control" placeholder="Enter Cost Center Name">
                      </div>
                      <div class="col-md-6 col-lg-4">
                        <label>Cost Center Typ</label>
                        <ng-select
                          class="bootstrap"
                          placeholder="Pick Cost Center Typ"
                          [options]="costCenterTyp"
                          [allowClear]="false"></ng-select>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
            </form>

            <div class="col">
              <div class="row d-flex justify-content-end">
                <div class="col-6 col-sm-4 col-md-2 mb-3 mb-xl-0">
                  <button type="button" class="btn btn-block btn-success">SAVE</button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!--/Input!-->

    </div>
  </div>
</div>
