<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Cost Center Table
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
            <tr>
              <th>Cost Center ID</th>
              <th>Cost Center Name</th>
              <th>Cost Center Typ</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Cost Center ID 1</td>
              <td>Cost Center Name 1</td>
              <td>Cost Center Typ 1</td>
            </tr>
            <tr>
              <td>Cost Center ID 2</td>
              <td>Cost Center Name 2</td>
              <td>Cost Center Typ 1</td>
            </tr>
            <tr>
              <td>Cost Center ID 3</td>
              <td>Cost Center Name 3</td>
              <td>Cost Center Typ 2</td>
            </tr>
            </tbody>
          </table>
          <button type="button">Add</button>
          <button type="button">Edit</button>
          <button type="button">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
