<p>external-costs-parameter works!</p>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Extern Costs Per Person Parameter Table
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
            <tr>
              <th>Extern Cost Definition per Person</th>
              <th>Current Level</th>
              <th>Planning Period</th>
              <th>Currency</th>
              <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <label>
                  <select>
                    <option>Definition 1</option>
                    <option>Definition 2</option>
                  </select>
                </label>
              </td>
              <td>
                <label>
                  <select>
                    <option>Current Level 1 from User</option>
                    <option>Current Level 2 from User</option>
                  </select>
                </label>
              </td>
              <td>
                <label>
                  <select>
                    <option>EA1</option>
                    <option>EA2</option>
                  </select>
                </label>
              </td>
              <td>
                <ng-select
                  class="bootstrap"
                  placeholder="Currency">
                  [options]="CurrencyList"
                  [allowClear]="true">
                </ng-select>
              </td>
              <td>
                <label>
                  <input class="input-area" type="text" required placeholder="Please enter a Value">
                </label>
              </td>
            </tr>
            <tr>
              <td>
                <label>
                  <select>
                    <option>Definition 1</option>
                    <option>Definition 2</option>
                  </select>
                </label>
              </td>
              <td>
                <label>
                  <select>
                    <option>Current Level 1 from User</option>
                    <option>Current Level 2 from User</option>
                  </select>
                </label>
              </td>
              <td>
                <label>
                  <select>
                    <option>EA1</option>
                    <option>EA2</option>
                  </select>
                </label>
              </td>
              <td>
                <ng-select
                  class="bootstrap"
                  placeholder="Currency">
                  [options]="CurrencyList"
                  [allowClear]="true">
                </ng-select>
              </td>
              <td>
                <label>
                  <input class="input-area" type="text" required placeholder="Please enter a Value">
                </label>
              </td>
            </tr>
            <tr>
              <td>
                <label>
                  <select>
                    <option>Definition 1</option>
                    <option>Definition 2</option>
                  </select>
                </label>
              </td>
              <td>
                <label>
                  <select>
                    <option>Current Level 1 from User</option>
                    <option>Current Level 2 from User</option>
                  </select>
                </label>
              </td>
              <td>
                <label>
                  <select>
                    <option>EA1</option>
                    <option>EA2</option>
                  </select>
                </label>
              </td>
              <td>
                <ng-select
                  class="bootstrap"
                  placeholder="Currency">
                  [options]="CurrencyList"
                  [allowClear]="true">
                </ng-select>
              </td>
              <td>
                <label>
                  <input class="input-area" type="text" required placeholder="Please enter a Value">
                </label>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>


