<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Extern Costs Per Person Parameter Table
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
            <tr>
              <th>Extern Cost Definition per Person</th>
              <th>Current Level</th>
              <th>Planning Period</th>
              <th>Currency</th>
              <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Definition 2</td>
              <td>Current Level 1 from User</td>
              <td>EA2</td>
              <td>EUR</td>
              <td>2500</td>
            </tr>
            <tr>
              <td>Definition 1</td>
              <td>Current Level 2 from User</td>
              <td>EA2</td>
              <td>TL</td>
              <td>1200</td>
            </tr>
            <tr>
              <td>Definition 2</td>
              <td>Current Level 1 from User</td>
              <td>EA1</td>
              <td>EUR</td>
              <td>1300</td>
            </tr>
            </tbody>
          </table>

          <div class="row">
            <div class="col-6 col-sm-4 col-md-2 mb-3 mb-xl-0">
              <button type="button" class="btn btn-block btn-warning">UPDATE</button>
            </div>
            <div class="col-6 col-sm-4 col-md-2 mb-3 mb-xl-0">
              <button type="button" class="btn btn-block btn-danger">DELETE</button>
            </div>
          </div>
        </div>

        <div class="card-footer">
          <div class="row" >
            <div class="col-xs-12 col-12 d-sm-down-none">
              <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pagination>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <strong>Add new External Cost per Person</strong>
        </div>
        <div class="card-body">
          <div class="row align-items-center">
            <div class="card-body col-3">
              <fieldset class="form-group">
                <label>External Cost Definition</label>
                <ng-select
                  class="bootstrap"
                  placeholder="External Cost Per Person Definition List"
                  [options]="ExternalCostDefinitionList"
                  [allowClear]="true"></ng-select>
              </fieldset>
            </div>
            <div class="card-body col-2">
              <fieldset class="form-group">
                <label>Current Level</label>
                <ng-select
                  class="bootstrap"
                  placeholder="Current Level"
                  [options]="CurrentLevel"
                  [allowClear]="true"></ng-select>
              </fieldset>
            </div>
            <div class="card-body col-2">
              <fieldset class="form-group">
                <label>Planning Period</label>
                <ng-select
                  class="bootstrap"
                  placeholder="Planning Period"
                  [options]="PlanningPeriods"
                  [allowClear]="true"></ng-select>
              </fieldset>
            </div>
            <div class="card-body col-2">
              <fieldset class="form-group">
                <label>Currency</label>
                <ng-select
                  class="bootstrap"
                  placeholder="Currency"
                  [options]="CurrencyList"
                  [allowClear]="true"></ng-select>
              </fieldset>
            </div>
            <div class="card-body col-2">
              <fieldset class="form-group">
                <label>Value</label><br>
                <label>
                  <input class="form-control" type="text" required placeholder="Please enter a Value">
                </label>
              </fieldset>
            </div>
          </div>

          <div class="col-6 col-sm-4 col-md-2 mb-3 mb-xl-0">
            <button type="button" class="btn btn-block btn-primary">ADD</button>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>





