<div class="card">
  <div class="card-header">
      <strong>Management Travels</strong>
  </div>
  <div class="card-body">
    <div class="row">
      <fieldset class="form-group col-md">
        <label>Number of Travels</label><br>
        <input type="number" class="form-control" [defaultValue]="5">
      </fieldset>
      <fieldset class="form-group col-md">
        <label>Extra Travel Cost (€)</label><br>
        <input type="number" class="form-control" [defaultValue]="100">
      </fieldset>
      <fieldset class="form-group col-md">
        <label>Total Travel Cost (€)</label><br>
        <input type="number" class="form-control" [defaultValue]="1100.00" [disabled]="true">
      </fieldset>
    </div>
  </div>
</div>
