<ul id="menu">

  <li class="parent"><a href="#">Cost Type</a>

    <ul class="child">
      <li class="parent"><a href="#">Primary Cost<span class="expand">»</span></a>
        <ul class="child">
          <li class="parent" ><a href="#" nowrap>Departmant Cost<span class="expand">»</span></a>
          <ul class="child">
            <li><a href="#">Management Cost</a></li>
          </ul>
          </li>
        </ul>
      </li>

      <li class="parent"><a href="#">Project Cost Indirect Chargeable<span class="expand">»</span></a>
        <ul class="child">
          <li class="parent" ><a href="#" nowrap>Outsource & Consultancy<span class="expand">»</span></a>
            <ul class="child">
              <li><a href="#">External Bench(for No SLA Efforts)</a></li>
              <li><a href="#">Non-Chargeable Consultancy</a></li>
            </ul>
          </li>
        </ul>
      </li>

    </ul>
  </li>
</ul>
