<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <!--/.col-->
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Rate Table
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
            <tr>
              <th>Manday Typ</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Special</td>
            </tr>
            <tr>
              <td>Standard</td>
            </tr>
            </tbody>
          </table>
          <button type="button" class="btn btn-block btn-success">ADD</button>
          <button type="button" class="btn btn-block btn-warning">UPDATE</button>
          <button type="button" class="btn btn-block btn-danger">DELETE</button>
        </div>
      </div>
    </div>
  </div>
</div>
