<div>
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="card text-white bg-info">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-people"></i>
          </div>
          <div class="h4 mb-0">87.500</div>
          <small class="text-muted text-uppercase font-weight-bold">Visitors</small>
          <div class="progress progress-white progress-xs mt-3">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-md-3">
      <div class="card text-white bg-success">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-user-follow"></i>
          </div>
          <div class="h4 mb-0">385</div>
          <small class="text-muted text-uppercase font-weight-bold">New Clients</small>
          <div class="progress progress-white progress-xs mt-3">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-md-3">
      <div class="card text-white bg-warning">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-basket-loaded"></i>
          </div>
          <div class="h4 mb-0">1238</div>
          <small class="text-muted text-uppercase font-weight-bold">Products sold</small>
          <div class="progress progress-white progress-xs mt-3">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-md-3">
      <div class="card text-white bg-primary">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-pie-chart"></i>
          </div>
          <div class="h4 mb-0">28%</div>
          <small class="text-muted text-uppercase font-weight-bold">Returning Visitors</small>
          <div class="progress progress-white progress-xs mt-3">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
  </div>
</div>

<!--Table!-->


<!--/Table!-->

<!--Input!-->
<div>
  <div class="card">
    <div class="card-header">
      <strong>Input</strong>
    </div>

      <div class="card-body col-12">


        <form action="" method="post" class="form-horizontal">
            <div class=" col-12" style="text-align: center">
              <div>
                <fieldset class="form-group">
                  <ng-select
                    class="bootstrap"
                    placeholder="Pick Cost Center Category"
                    [options]="costCenters"
                    [allowClear]="false"></ng-select>

                  <div class="form-group row">
                    <div class="col-md-2 col-lg-1">
                      <label>January</label>
                      <input type="text" class="form-control" placeholder="Ex. 4">
                    </div>
                    <div class="col-md-2 col-lg-1">
                      <label>February</label>
                      <input type="text" class="form-control" placeholder="Ex. 4">
                    </div>
                    <div class="col-md-2 col-lg-1">
                      <label>March</label>
                      <input type="text" class="form-control" placeholder="Ex. 4">
                    </div>
                    <div class="col-md-2 col-lg-1">
                      <label>April</label>
                      <input type="text" class="form-control" placeholder="Ex. 4">
                    </div>
                    <div class="col-md-2 col-lg-1">
                      <label>May</label>
                      <input type="text" class="form-control" placeholder="Ex. 4">
                    </div>
                    <div class="col-md-2 col-lg-1">
                      <label>June</label>
                      <input type="text" class="form-control" placeholder="Ex. 4">
                    </div>
                    <div class="col-md-2 col-lg-1">
                      <label>July</label>
                      <input type="text" class="form-control" placeholder="Ex. 4">
                    </div>
                    <div class="col-md-2 col-lg-1">
                      <label>August</label>
                      <input type="text" class="form-control" placeholder="Ex. 4">
                    </div>
                    <div class="col-md-2 col-lg-1">
                      <label>September</label>
                      <input type="text" class="form-control" placeholder="Ex. 4">
                    </div>
                    <div class="col-md-2 col-lg-1">
                      <label>October</label>
                      <input type="text" class="form-control" placeholder="Ex. 4">
                    </div>
                    <div class="col-md-2 col-lg-1">
                      <label>November</label>
                      <input type="text" class="form-control" placeholder="Ex. 4">
                    </div>
                    <div class="col-md-2 col-lg-1">
                      <label>December</label>
                      <input type="text" class="form-control" placeholder="Ex. 4">
                    </div>

                  </div>

                </fieldset>
              </div>

          </div>






        </form>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary">Action</button>
      </div>

  </div>
  <!--InputFields-->


</div>
<!--/Input!-->

