
<tabset>

  <tab>
    <ng-template tabHeading>Cost Center</ng-template>
    <app-cost-center></app-cost-center>
  </tab>

  <tab>
    <ng-template tabHeading>Currency</ng-template>
    <app-currency></app-currency>
  </tab>

  <tab>
    <ng-template tabHeading>Manday</ng-template>
    <app-manday></app-manday>
  </tab>

  <tab>
    <ng-template tabHeading>PGK</ng-template>
    <app-pgk-table></app-pgk-table>
  </tab>

  <tab>
    <ng-template tabHeading>Planning</ng-template>
    <app-planning></app-planning>
  </tab>

  <tab>
    <ng-template tabHeading>Status</ng-template>
    <app-status></app-status>
  </tab>

  <tab>
    <ng-template tabHeading>Ticket</ng-template>
    <app-ticket></app-ticket>
  </tab>

  <tab>
    <ng-template tabHeading>Travel</ng-template>
    <app-travel-table></app-travel-table>
  </tab>

</tabset>




