<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 mb-4">
      <!-- Nav tabs -->
      <tabset>
        <tab heading="Cost Center">
          <app-cost-center></app-cost-center>
        </tab>
        <tab heading="Currency">
          <app-currency></app-currency>
        </tab>
        <tab heading="External Cost Definition">
          <app-external-cost-definition></app-external-cost-definition>
        </tab>
        <tab heading="Fix Costs">
          <app-fix-costs></app-fix-costs>
        </tab>
        <tab heading="Fix Cost Rate">
          <app-fix-cost-rate></app-fix-cost-rate>
        </tab>
        <tab heading="Manday">
          <app-manday></app-manday>
        </tab>
        <tab heading="Manday Rate">
          <app-manday-rate></app-manday-rate>
        </tab>
        <tab heading="PGK Definiton">
          <app-pgk-table></app-pgk-table>
        </tab>
        <tab heading="Planning">
          <app-planning></app-planning>
        </tab>
        <tab heading="Status">
          <app-status></app-status>
        </tab>
        <tab heading="Ticket">
          <app-ticket></app-ticket>
        </tab>
        <tab heading="Ticket Rate">
          <app-ticket-rate></app-ticket-rate>
        </tab>
        <tab heading="Travel Table">
          <app-travel-table></app-travel-table>
        </tab>
        <tab heading="Travel Day Typ">
          <app-travel-day-typ></app-travel-day-typ>
        </tab>
        <tab heading="Travel Rate">
          <app-rate-table></app-rate-table>
        </tab>
      </tabset>
    </div><!--/.col-->
  </div><!--/.row-->

</div>
