<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> User Parameter Table
        </div>
        <div class="card-body">
          <perfect-scrollbar style="max-height: 750px">
            <table class="table table-bordered table-striped table-sm">
              <thead>
              <tr>
                <th>{{rightTableFirstCellHeader}}</th>
                <th *ngFor="let header of rightTableHeaders">{{header}}</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let row of rightTableData">
                <td *ngFor="let data of row">{{data}}</td>
              </tr>
              </tbody>
            </table>
          </perfect-scrollbar>

        </div>

        <div class="card-footer" style="float: left">
          <button class="btn btn-success" (click)="ShowHide()">ADD NEW</button>
          <button class="btn btn-primary">UPDATE</button>
          <button class="btn btn-danger">DELETE</button>
          <span style="float: right">
            <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize" [itemsPerPage]="itemPerPage"></pagination>
          </span>
        </div>

      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>

