<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> User Parameter Table
        </div>
        <div class="card-body">
          <perfect-scrollbar style="max-height: 750px">
            <table class="table table-bordered table-striped table-sm">
              <thead>
              <tr>
                <th>Who is Who ID</th>
                <th>Cost Center</th>
                <th>Name</th>
                <th>User Typ</th>
                <th>FTE Capacity</th>
                <th>Type of Employment</th>
                <th>Assignment Status</th>
                <th>Current Level</th>
                <th>Hiring Time Frame</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>ID_001</td>
                <td>Cost Center 1</td>
                <td>Yavuz Saka</td>
                <td>User Typ 1</td>
                <td>FTE Capacity 1</td>
                <td>Type 1</td>
                <td>Assignment Status 1</td>
                <td>Current Level 1</td>
                <td>Hiring Time Frame 1</td>
              </tr>
              <tr>
                <td>ID_002</td>
                <td>Cost Center 2</td>
                <td>Josef Aksac</td>
                <td>User Typ 2</td>
                <td>FTE Capacity 2</td>
                <td>Type 2</td>
                <td>Assignment Status 2</td>
                <td>Current Level 2</td>
                <td>Hiring Time Frame 2</td>
              </tr>
              </tbody>
            </table>
          </perfect-scrollbar>


          <button type="button" class="btn btn-block btn-success">
          <i class="fa fa-file-excel-o"></i><br>EXPORT
          </button>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>

