<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i><strong> PGK Costs Per Person Parameter Table</strong>
        </div>

        <div class="card-body">
          <perfect-scrollbar style="max-height: 750px">
            <table class="table table-bordered table-striped table-sm">
              <thead>
              <tr>
                <th *ngFor="let Header of TableHeaders">{{Header}}</th>
              </tr>
              </thead>

              <tbody>
              <tr *ngFor="let row of data; let i = index" (click)="onTableRowClick(i)" [class.active]="i == selectedRowNumber">
                <td>{{row.PGK}}</td>
                <td>{{row.Status}}</td>
                <td>{{row.PlanningP}}</td>
                <td>{{row.Currency}}</td>
                <td>{{row.Value}}</td>
              </tr>
              </tbody>
            </table>
          </perfect-scrollbar>
        </div>

        <div class="card-footer" style="float: left">
          <button class="btn btn-success"  (click)="ShowHideAdd()">ADD</button>
          <button class="btn btn-primary" [disabled]="!validSelectedRowNumber" (click)="ShowHideUpdate()">UPDATE</button>
          <button class="btn btn-danger" [disabled]="!validSelectedRowNumber" (click)="SetSelectedRow()" >DELETE</button>
          <span style="float: right">
            <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize" [itemsPerPage]="itemPerPage"></pagination>
          </span>
        </div>

      </div>
      <!--Card-->

      <div class="card" *ngIf="showAdd">
        <div class="card-header">
          <strong>Add new PGK Cost per Person</strong>
        </div>

        <div class="card-body col-12">
          <form action="" method="post" class="form-horizontal">
            <fieldset class="form-group">
              <div class="form-group row">
                <div class="card-body col-lg-3 col-md-6">
                  <label> PGK Cost Definition per Person</label>
                  <ng-select
                    class="bootstrap"
                    placeholder="PGK Cost per Person Definition List"
                    [options]="PGKCostDefinitionList"
                    [allowClear]="true"></ng-select>
                </div>
              <div class="card-body col-md-6 col-lg-2">
                <label> Status</label>
                <ng-select
                  class="bootstrap"
                  placeholder="Status"
                  [options]="StatusList"
                  [allowClear]="true"></ng-select>
                </div>
                <div class="card-body col-md-6 col-lg-2">
                  <label> Planning Period</label>
                  <ng-select
                    class="bootstrap"
                    placeholder="Planning Period"
                    [options]="PlanningPeriods"
                    [allowClear]="true"></ng-select>
                </div>
                <div class="card-body col-md-6 col-lg-2">
                  <label> Currency</label>
                  <ng-select
                    class="bootstrap"
                    placeholder="Currency"
                    [options]="CurrencyList"
                    [allowClear]="true"></ng-select>
                </div>
                <div class="card-body col-md-6 col-lg-2">
                  <label> Value</label><br>
                  <input type="number" class="form-control" required placeholder="Please enter a Value">
                </div>
              </div>


              <div class="col-6 col-sm-4 col-md-2 mb-3 mb-xl-0" style="float: right;">
                <button type="button" class="btn btn-block btn-success" (click)="ShowHideAdd()">SAVE</button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>

      <!-- Add card finish -->
      <!-- Update card -->
      <div class="card" *ngIf="showUpdate">
        <div class="card-header">
          <strong>Update PGK Cost per Person</strong>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="card-body col-md-6 col-lg-3">
              <fieldset class="form-group">
                <label> PGK Cost Definition per Person</label>
                <ng-select
                  class="bootstrap"
                  [(ngModel)]="data[selectedRowNumber].PGK"
                  [placeholder]="data[selectedRowNumber].PGK"
                  [options]="PGKCostDefinitionList"
                  [allowClear]="true"></ng-select>
              </fieldset>
            </div>
            <div class="card-body col-md-6 col-lg-2">
              <fieldset class="form-group">
                <label> Status</label>
                <ng-select
                  class="bootstrap"
                  [(ngModel)]="data[selectedRowNumber].Status"
                  [placeholder]="data[selectedRowNumber].Status"
                  [options]="StatusList"
                  [allowClear]="true"></ng-select>
              </fieldset>
            </div>
            <div class="card-body col-md-6 col-lg-2">
              <fieldset class="form-group">
                <label> Planning Period</label>
                <ng-select
                  class="bootstrap"
                  [(ngModel)]="data[selectedRowNumber].PlanningP"
                  [placeholder]="data[selectedRowNumber].PlanningP"
                  [options]="PlanningPeriods"
                  [allowClear]="true"></ng-select>
              </fieldset>
            </div>
            <div class="card-body col-md-6 col-lg-2">
              <fieldset class="form-group">
                <label> Currency</label>
                <ng-select
                  class="bootstrap"
                  [(ngModel)]="data[selectedRowNumber].Currency"
                  [placeholder]="data[selectedRowNumber].Currency"
                  [options]="CurrencyList"
                  [allowClear]="true"></ng-select>
              </fieldset>
            </div>
            <div class="card-body col-md-6 col-lg-2">
              <fieldset class="form-group">
                <label> Value</label><br>
                <input type="number" class="form-control" [defaultValue]="data[selectedRowNumber].Value">
              </fieldset>
            </div>
          </div>

          <div class="col">
            <div class="row d-flex justify-content-end">
              <div class="col-6 col-sm-4 col-md-2 mb-3 mb-xl-0">
                <button type="button" class="btn btn-block btn-primary" (click)="ShowHideUpdate(); SetSelectedRow()">SAVE</button>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>


