<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> PGK Costs Per Person Parameter Table
        </div>
        <div class="card-body">
          <perfect-scrollbar style="max-height: 750px">

            <table class="table table-bordered table-striped table-sm">
              <thead>
              <tr>
                <th style="width: 1px;"> </th>
                <th>PGK Cost Definition per Person</th>
                <th>Status</th>
                <th>Planning Period</th>
                <th>Currency</th>
                <th>Value</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="tableDefaultCheck1" >
                  <label class="custom-control-label" for="tableDefaultCheck1"> </label>
                </div></td>
                <td>Definition 1</td>
                <td>Status 2</td>
                <td>EA1</td>
                <td>EUR</td>
                <td>1500</td>
              </tr>
              <tr>
                <td><div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="tableDefaultCheck2" >
                  <label class="custom-control-label" for="tableDefaultCheck2"> </label>
                </div></td>
                <td>Definition 2</td>
                <td>Status 2</td>
                <td>EA1</td>
                <td>TL</td>
                <td>3000</td>
              </tr>
              <tr>
                <td><div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="tableDefaultCheck3" >
                  <label class="custom-control-label" for="tableDefaultCheck3"> </label>
                </div></td>
                <td>Definition 1</td>
                <td>Status 1</td>
                <td>EA2</td>
                <td>EUR</td>
                <td>400</td>
              </tr>
              </tbody>
            </table>
          </perfect-scrollbar>

          <div class="col">
            <div class="row d-flex">
              <div class="col-6 col-sm-4 col-md-2 mb-3 mb-xl-0">
                <button (click)="ShowHide()" type="button" class="btn btn-block btn-success">ADD NEW</button>
              </div>
              <div class="col-6 col-sm-4 col-md-2 mb-3 mb-xl-0">
                <button type="button" class="btn btn-block btn-primary">UPDATE</button>
              </div>
              <div class="col-6 col-sm-4 col-md-2 mb-3 mb-xl-0">
                <button type="button" class="btn btn-block btn-danger">DELETE</button>
              </div>

              <div class="col-6">
                <!--pagination-->
                <div class="d-flex justify-content-end">
                  <div class="row">
                    <div class="col-xs-12 col-12 d-sm-down-none">
                      <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pagination>
                    </div>
                  </div>
                </div>
                <!--pagination-->
              </div>

            </div>
          </div>
        </div>

      </div>
      <!--Card-->

      <div class="card" *ngIf="show">
        <div class="card-header">
          <strong>Add new PGK Cost per Person</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="card-body col-3">
              <fieldset class="form-group">
                <label> PGK Cost Definition per Person</label>
                <ng-select
                  class="bootstrap"
                  placeholder="PGK Cost per Person Definition List"
                  [options]="PGKCostDefinitionList"
                  [allowClear]="true"></ng-select>
              </fieldset>
            </div>
            <div class="card-body col-2">
              <fieldset class="form-group">
                <label> Status</label>
                <ng-select
                  class="bootstrap"
                  placeholder="Status"
                  [options]="StatusList"
                  [allowClear]="true"></ng-select>
              </fieldset>
            </div>
            <div class="card-body col-2">
              <fieldset class="form-group">
                <label> Planning Period</label>
                <ng-select
                  class="bootstrap"
                  placeholder="Planning Period"
                  [options]="PlanningPeriods"
                  [allowClear]="true"></ng-select>
              </fieldset>
            </div>
            <div class="card-body col-2">
              <fieldset class="form-group">
                <label> Currency</label>
                <ng-select
                  class="bootstrap"
                  placeholder="Currency"
                  [options]="CurrencyList"
                  [allowClear]="true"></ng-select>
              </fieldset>
            </div>
            <div class="card-body col-2">
              <fieldset class="form-group">
                <label> Value</label><br>
                <label>
                  <input type="number" class="form-control" required placeholder="Please enter a Value">
                </label>
              </fieldset>
            </div>
          </div>

          <div class="col-6 col-sm-4 col-md-2 mb-3 mb-xl-0" style="float: right;">
            <button type="button" class="btn btn-block btn-success">SAVE</button>
          </div>
        </div>

      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>


