.card-footer {
  background-color: white;
  border-left: none;
  border-right: none;
  border-top: none;
}
.col-2{
  padding: 16px 10px;
  width: inherit;
}

.col-3{
  padding: 16px 10px;
  width: inherit;
}

.form-group{
  margin: 0px;
}

tr {
  text-align: center;
}
tr td:nth-child(15n-14) {
  text-align: left;
}
